
/****************************************************************************************************/
/*	WaGadgetContactProfile                                                                             */
/*		WaGadgetContactProfileStateMain                                                                     */
/*		WaGadgetContactProfileStateAccess                                                                   */
/*		WaGadgetContactProfileStateSubscriptions                                                            */
/*		WaGadgetContactProfileStateFinances                                                                 */
/*		WaGadgetContactProfileStateDonations                                                                 */
/*		WaGadgetContactProfileStatePhotoGallery                                                             */
/****************************************************************************************************/


/* mode: WaGadgetContactProfileStateMain | WaGadgetContactProfileStateAccess | WaGadgetContactProfileStateSubscriptions */
/*****************************************************************************************************/
.WaGadgetContactProfile {
	.topButtonsOuterContainer {  } // tab buttons profile ->
	.memberDetailsTabsOuterContainer {  } // tabs in profile ->
	.formOuterContainer {
		.profileMainOuterContainer {  } // tab profile ->
		.profileDetailsOuterContainer {  } // tab profile(privacy) ->
		.memberSubscriptionsOuterContainer {  } // tab subscription ->
		#idMemberPhotoGalleryContainer {  } // profile photo gallery ->
		#idBottomButtonsContainer.navigationOuterContainer {  }
	}
}


// -> tob buttons profile
.WaGadgetContactProfile {
	.topButtonsOuterContainer {
		.inner {
			input.typeButton { .functionalButton; margin-right: 10px; }  // button "edit profile"
		}
	}
}


// -> tab profile
.profileMainOuterContainer {
	#idMembershipLevelContainerHolder {
		.actionButtonContainer {
			input[type=submit] { .functionalButton; }
		}
	}
	#idExpirationDateContainerHolder {
		.actionButtonContainer {
			input[type=submit] { .functionalButton; }
		}
	}
	#idSectionGroupAccountContainer {
		.actionButtonContainer {
			input[type=submit] { .functionalButton; }
		}
	}
}

/* mode: WaGadgetContactProfileStatePhotoGallery ( list albums in profile ) */
/*****************************************************************************************************/
.WaGadgetContactProfileStatePhotoGallery {
	input.typeButton { .functionalButton; margin-right: 10px; } // button "add album"
}

// -> albums list
.WaGadgetContactProfile {
	ul.albumsContainerUL { text-align: left;
		li.photoGalleryItemContainerLi { width: 160px; height: auto; margin: 0 10px 20px 0;
			div[class^="photoGalleryItemThumbnailImage"] { position: relative; border: none; background: @PhotoAlbumImgBg; padding: 15px;
				a { vertical-align: top; margin: 0; width: 128px; height: 128px; outline: none;
					&:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; overflow: hidden; }
					img { max-width: 128px; max-height: 128px; vertical-align: middle; }
				}
			}
			div.photoGalleryItemThumbnailImageHover { background: @PhotoAlbumImgHighlightBg; }

			[class^="photoGalleryEmptyItemThumbnailImage"] { position: relative; border: none; background: @PhotoAlbumImgBg; padding: 15px;
				.albumEmptyLabelContainer { vertical-align: top; margin: 0; width: 128px; height: 128px; outline: none;
					&:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; overflow: hidden; }
					.albumEmptyLabel { display: inline-block; vertical-align: middle; }
				}
			}

		}
	}
}


/* mode: WaGadgetContactProfileStatePhotoGallery ( list photos in album profile ) */
/*****************************************************************************************************/
.WaGadgetContactProfileStatePhotoGallery {
	#idMemberPhotoAlbumContainer {
		#idPhotoAlbumHeaderContainer {
			.buttonsInTitleContainer {
				input.typeButton { .functionalButton; margin-left: 10px; } // control buttons
			}
		}
		#idPhotoAlbumTitleMainContainer { .clearfix; margin: 0 0 20px 0;
			.titleLeftContainer {
				h1.pageTitle { margin: 0; padding: 0; font-size: 36px; } // album name
			}
			.titleRightContainer {
				span.photoLabel { font-style: italic; } // text created/updated date
			}
		}
		#idPhotoAlbumMainContainer {
			.descriptionContainer {
				span.photoLabel {  } // album name
			}
			.photosContainer {
				ul.photosContainerUL { text-align: left; height: auto !important;
					li.photoAlbumItemContainerLi { width: 160px; height: 160px; margin: 0 10px 15px 0;
						.photoInnerContainer { 	 } // photo item ->
					}
					li.photoAlbumItemContainerLi.coverPhoto {
						.photoInnerContainer { background: @PhotoAlbumImgCoverBg; } // photo item ->
					}
				}
			}
		}
	}
}


// -> photo item
.WaGadgetContactProfile {
	.photosContainerUL { text-align: left;
		[class^="photoInnerContainer"] { position: relative; border: none; background: @PhotoAlbumImgBg; padding: 15px;
			[class^="photoAlbumItemThumbnailPhoto"] {
				a { vertical-align: top; margin: 0; width: 128px; height: 128px; outline: none;
					&:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; overflow: hidden; }
					img.photoAlbumItemThumbnailPhoto { max-width: 128px; max-height: 128px; vertical-align: middle; }
				}
				.smallDescriptionContainer { display: none;
					.smallDescriptionInnerContainer { display: none;
						span {  } //  photo description
					}
				}
			}
			.innerButtonsContainer {
				.buttonInnerDiv {
					a[id*="DeleteLink"] { .iconLink.deleteWithoutText(); position: absolute; top: 0; right: 0; margin-right: 2px; }
					a[id*="SetCoverLink"] { margin: 10px 0 0 0; display: inline-block; font-size: 14px; }

				}
			}
			.fullDescriptionContainer { font-size: 14px;
				span {  }
			}
		}
		.photoInnerContainerOver { background: @PhotoAlbumImgHighlightBg;
			.photoAlbumItemThumbnailPhotoHover {  }
		}
	}
}


/* mode: WaGadgetContactProfileStatePhotoGallery ( current photo ) */
/*****************************************************************************************************/
.WaGadgetContactProfileStatePhotoGallery {
	#idPhotoHeaderContainer {
		.pageBackContainer {
			a {  }
		}
		.buttonsInTitleContainer {
			input.typeButton { .functionalButton; margin-left: 10px; }
		}
	}
	#idPhotoMainContainer {
		.pageTitleOuterContainer {
			.pageTitleContainer {
				h1 { font-size: 36px; font-weight: bold; }
			}
		}
	}
	.footerContainer {
		textarea { font-family: 'Open Sans'; font-size: 15px; }
		.buttonsContainer {
			input.typeButton { .functionalButton; margin: 0 5px; }
		}
	}
}


/* mode: WaGadgetContactProfileStateFinances ( invoices and payments ), WaGadgetContactProfileStateDonations */
/*****************************************************************************************************/
.WaGadgetContactProfileStateFinances,
.WaGadgetContactProfileStateDonations {
	.genericList { margin: 30px 0 0 0; }
	// search form
	.genericListHeaderContainer {  }
	// invoices table
	.genericListTable {
	  	td.memberDirectoryColumn1, td.memberDirectoryColumn2, td.memberDirectoryColumn3 {
			cursor: pointer;
	  	}
		input[type="checkbox"] { margin-top: 4px; }
		tr {
			&.grayedOutBk {
				td { background-color: #ead0d2; }
			}
		}
		.bottomRow {
			.memberDirectoryBottomRow { padding-bottom: 15px; }
		}
		tr:hover + .bottomRow td { background-color: @TableRowHighlightBg; }
	}
}


/* mode: WaGadgetContactProfileStateFinances ( invoices details ) */
/*****************************************************************************************************/
.paymentDetailsForm {  }



/*****************************************************************************************************/
/*	Responsive                                                                                       */
/*****************************************************************************************************/
// state2
@media only screen and (min-width:@state2-minwidth) and (max-width:@state2-maxwidth)
{

	.WaGadgetContactProfileStateFinances,
    .WaGadgetContactProfileStateDonations
	{

		.genericListHeaderContainer
		{

			table,
			table tbody,
			table tbody tr
			{
				display: block;
			}

			table
			{

				td
				{
					display: inline-block;

					&.searchBox
					{
						width: auto;

						input.typeText
						{
							width: 100px;
						}
					}

					&.infoContainer
					{
						padding-left: 10px;
						width: auto;
					}

					&.reloadContainer,
					&.messages,
					&.pagingContainerTitle
					{
						text-align: left;
						width: auto;
					}

					&.pagingContainer
					{
						text-align: left;
						width: auto;

						#idPagingContainerTop
						{

							select
							{
								width: 135px;
							}
						}
					}
				}
			}
		}

		.genericListTable
		{
			table-layout: fixed;
		}
	}

	.WaGadgetContactProfileStatePhotoGallery {
		#idPhotoMainContainer {
			#idPhotoMainSectionContainer {
				#idImageContainer {
					img { max-width: 100%; }
				}
			}
		}
	}
}

// state3
@media only screen and (max-width:@state3-maxwidth)
{
	.WaGadgetContactProfile
	{

		.memberDetailsTabsOuterContainer
		{

			ul.memberDetailsTabMenu
			{

				li
				{
					display: block;
					float: none;
					margin: 5px 0;
				}
			}
		}

		.profileMainOuterContainer
		{

			#idMembershipLevelContainerHolder,
			#idExpirationDateContainerHolder,
			#idSectionGroupAccountContainer
			{
				.actionButtonContainer
				{
					margin: 0 0 10px 0;
				}
			}
		}
	}

	.WaGadgetContactProfileStateFinances,
    .WaGadgetContactProfileStateDonations
	{

		.genericListHeaderContainer
		{

			table,
			table tbody,
			table tbody tr
			{
				display: block;
			}

			table
			{

				td
				{
					display: inline-block;

					&.searchBox
					{
						width: auto;

						span
						{
							padding-right: 5px;
						}

						input.typeText
						{
							width: 100px;
						}
					}

					&.infoContainer
					{
						padding-left: 5px;
						width: auto;
					}

					&.reloadContainer,
					&.messages,
					&.pagingContainerTitle
					{
						text-align: left;
						width: auto;
					}

					&.pagingContainer
					{
						text-align: left;
						width: auto;

						#idPagingContainerTop
						{

							select
							{
								width: 135px;
							}
						}
					}
				}
			}
		}

		.genericListTable
		{

			th
			{
				&.firstTh,
				&.invoiceNumber,
				&.status,
				&.lastTh
				{
					display: block;
					padding: 5px 10px;
					text-align: left;
					width: auto;
				}

				&.firstTh
				{
					padding-left: 10px !important;
				}
			}

			td
			{

				&.firstTd
				{
					padding-left: 10px !important;
				}

				&.memberDirectoryBottomRow
				{
					padding: 5px 10px;
				}
			}
		}
	}

	.WaGadgetContactProfileStateEventRegistrations {
		.genericList {
			.genericListTable {
				th {
					&.lastTh {
						display: block;
						text-align: left;
						width: auto;
					}
				}
			}
		}
	}

	.WaGadgetContactProfileStatePhotoGallery {
		#idMemberPhotoAlbumContainer {
			#idPhotoAlbumHeaderContainer {
				.pageBackContainer { margin: 0 0 20px 0; }
				.buttonsInTitleContainer {
					input.typeButton { margin-bottom: 10px; margin-left: 0; margin-right: 10px; }
				}
			}
		}
	}


	.WaGadgetContactProfileStatePhotoGallery {
		#idPhotoHeaderContainer {
			.pageBackContainer { padding: 0px 0 20px 0; }
		}
		#idPhotoMainContainer {
			#idPhotoMainSectionContainer {
				#idImageContainer {
					img { max-width: 100%; }
				}
			}
		}
	}
}
															
															
															
						